*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

*::-moz-focus-inner,
*::-moz-focus-outer{
    outline: none;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background-color: thistle;
}

.container div{
    font-size: 20px;
    padding: 20px;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
}

.container > div:nth-child(1n){
    background-color: brown ;
}

.container > div:nth-child(2n){
    background-color: black ;
}

.container > div:nth-child(3n){
    background-color: crimson ;
}

.container > div:nth-child(4n){
    background-color: rgb(0, 151, 101) ;
}

.container > div:nth-child(5n){
    background-color: rgb(0, 129, 129)  ;
}

.container > div:nth-child(6n){
    background-color: rgb(163, 112, 0) ;
}